body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* div{
  border: solid, 1px, red;

} */

.grid-container{
  display: grid;
  height: 100vh;
  grid-template-rows: 92px 1fr 1fr;
  background-color:  rgb(40, 44, 39);
}

/* NAVBAR STYLES */
nav.bg.navbar.navbar.navbar-expand-lg.navbar-light {
  background-color: rgb(28, 32, 27);
  padding: 0px;
  height: 92px;
}

.navbar-container.container {
    margin: 0px;
    padding: 0px;
    height: 92px;
    flex-shrink: 0;
}

.me-auto.navbar-nav {
  flex-shrink: 0;
}

a.brand.navbar-brand {
  font-size: 50px;
  font-weight: 800;
  color: white;
  background-color: black;
  margin-right: 80px;
  padding-left: 30px;
  padding-right: 50px;
  height: 92px;
}

a.nav-link, p {
    color: white;
}
